@font-face {
  font-family: 'Open Sans Regular';
  font-style: normal;
  src: url('webfonts/OpenSansRegular.woff') format('woff'), url('webfonts/OpenSansRegular.woff2') format('woff2');
}

:root {
  --openSans: 'Open Sans Regular', Arial, Helvetica, sans-serif;
}
