/* Stylesheets */
@import 'utilities/normalize';
@import 'utilities/typographies';

html {
  font-family: var(--openSans);
}

.background-image {
  width: 300px;
  height: 300px;
  background-image: url('/images/fyeah.jpg');
  background-size: cover;
}